   body,
    html {
        height: 100%;
    }

    .bg {

        background-image: url("http://www.monkstowntennisclub.com/pics/General/openweek1.png");

        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .h1 {
        color: lemonchiffon;
        font-size: 28px;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        /*background-color: rgba(0,0,0,0.2);*/
    }



    /*.navbar {}*/

    .navbar-brand {
        font-family: 'Pacifico';
        font-size: 28px;
        /*background-color: rgba(0,0,0,0.3);*/
    }

    .h1:hover {
        color: white;
        text-decoration: none;

    }

    nav ul li a {
        color: lemonchiffon;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 26px;
        /*background-color: rgba(0,0,0,0.1);*/
    }

    nav ul li a:hover {
        color: white;
    }

    nav>a {
        color: lemonchiffon;
    }

    nav>a:hover {
        color: white;
    }

    .ball {
        animation: movingball 5s infinite;
        border-radius: 100%;
        left: 35%;
        top: 0%;
        width: 50px;
        display: inline-block;
    }

    @keyframes movingball {
        0% {
            top: 80%;
            transform: rotate(360deg);
        }

    }

    .navbar-toggler {
        padding: .25rem .75rem;
        font-size: 1.25rem;
        line-height: .5;
        background-color: forestgreen;
         border: 1px solid transparent; 
        border-radius: .25rem;
    }
    
    .weather {
        position: absolute;
        /*right: 1000px;*/
        top: 410px;
        height: 160px;
        width: 200px;
        background-color: rgba(0,0,0,0.5);
        color: white;
        font-size: 18px;
    }
    